<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>

<form action="../main.php" method="POST">
<p>Начальная точка маршрута: <select name="selectStart">
    <option value="a">Точка А</option>
    <option value="b">Точка B</option>
    <option value="c">Точка C</option>
    <option value="d">Точка D</option>
    <option value="e">Точка E</option>
</select>
</p>

<p>Конечная точка маршрута: <select name="selectFinish">
    <option value="a">Точка А</option>
    <option value="b">Точка B</option>
    <option value="c">Точка C</option>
    <option value="d">Точка D</option>
    <option value="e">Точка E</option>
</select>
</p>
    <input type="submit" name="my_button" value="Рассчитать кратчайший маршрут">
</form>

</body>
</html>